<?xml version="1.0" encoding="UTF-8"?>
<suite name="test_suite">
  <test name="Test">
  	<parameter name="url" value="http://www.calculator.net" />
  	<parameter name="seleniumGridUrl" value="http://sg.qubeship.io/wd/hub" />
    <classes> 
     <!-- <class name="java_example.test" /> -->
     <class name="java_example.TestChrome"/> 
     <class name="java_example.TestFirefox"/>
    </classes>
  </test>
</suite>
